*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}/* Navbar.css */
nav{
  width: 100%;
  height: fit-content;
}
.navbar-container {
	overflow-y: auto;
	max-height: calc(100vh - 4rem);
  }
  
  .submenu {
	max-height: 300px; /* Adjust based on your needs */
	overflow-y: auto;
  }
  
  .hidden-scrollbar {
	scrollbar-width: none; /* Firefox */
  }
  
  .hidden-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
  }
  