.footer {
  width: 100%;
  background-color: #333;
  color: #fdfdfa;
  padding: 2rem 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5vh;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.company-info,
.menu,
.social-links {
  flex: 1 1 300px;
  margin-bottom: 2rem;
}
.company-info p{
  width: 120px;
justify-content:center;
  padding-left:80px;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: chocolate;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

ul li {
  margin-bottom: 0.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  text-align: center;
}
.social-icons img{
  margin: auto;
}

.social-icons a:hover {
  color: #ccc;
}

.footer-bottom {
  margin-top: 1rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

.footer-bottom p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .company-info,
  .menu,
  .social-links {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem;
    font-size: 2vh;
  }

  h4 {
    font-size: 1rem;
  }
}
