/* Footer.css */

.footer {
    width: 100%;
    /* background-color: #f19204; */
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9Gb57RKu4toSXbTZNg7LUkEE4bHpLfOhkvw&s);
    color: #fdfdfa;
    padding: 2rem 2rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 2.5vh;
    text-align: justify;
  }
  
  .footer .container {
    width:auto;
    margin: 0 auto;
    padding: 0 1rem;
    border-bottom: solid;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
  }
  .quick-contact{
    width: 400px;
    line-height: 25px;
  }
  
  .quick-contact,
  .links,
  .products,
  .subscribe {
    flex: 1 1 300px;
    margin-bottom: 2rem;
    
  }
  
  h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: chocolate;
    width: fit-content;
  }
  
  ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
  }
  
  ul li {
    margin-bottom: 0.5rem;
    
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .subscribe form {
    margin-top: 1rem;
  }
  
  .subscribe input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 30px;
    font-size: 1.2rem;


  }
  
  .subscribe button {
    background-color:chocolate;
    color:white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.2rem;
  }
  
  .subscribe button:hover {
    background-color: #ddd;
    color: chocolate;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.51rem;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .legal-links ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .legal-links li a{
    margin-right: 1rem;
    color:white;
  }
  .footerlogo{
    scale: 0.7;
  }
  
  .copyright {
    text-align: center;
    margin-top: 1rem;

  }
  